@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

.shopTitle {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  text-shadow: 3px 3px #febd69;
}
